<% content_for :title do %>
    Messages
<% end %>

<h1>Messages</h1>


<div class="list"> 

<% if @items.nil? == false  %>
	<% for i in @items %>

			<% messages = Message.find_all_for_item(i) %>

			<% if (messages.nil? == false) && (messages.size > 0) %>
			
					 <%= i.describe_my_ownership %> 
					 
					 <%= link_to  i.name, :controller=>"items", :action =>"show", :id => i.id %>
					 <br> 

					 <% for m in messages %>
					   	<%= render 'messages/shared/show_message', :object => m %>
			     	<% end %>	

			<% end %>
	<% end %> 
<% end %> 



</div>



