<% content_for :title do %>
	  New Message
<% end %>

<h1>New Message</h1>
To: <%= first_name(@message.recipient_id) %><br />
Re: <%= item_ownership(@message.item_id) %> <%= item_name(@message.item_id) %><br />
<%= render 'messages/shared/edit_message' %>
