<% if @user.errors.any? %>
	<%= pluralize(@user.errors.count, "error") %>
	prohibited this user from being saved:<br />
	
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
