<!-- views messages shared _show_message.html.erb  -->

<span class="label">
  	<%= object.sender_name(current_user) %>
</span> 
					
<%= object.message_text %>

<span class="label">
		<%= object.created_at.strftime("%I %p, %A, %e %B %Y") %> 
</span>			

 <%= link_to "Delete", {:controller=>"messages", :action => "destroy", :id =>object.id}, 
					        :confirm => "Are you sure?", :method => :delete %>

<br>   
