/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: black; 
  margin: 0em;
  padding: 0;
  font-family: "Georgia", "Arial","Verdana",Georgia,serif;
  font-size: 10pt 
}

* { background: transparent !important;}

h1, h2, h3, h4 {
	color: black; 
	font-weight: bold; 
	background: white; 
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}
h1 {	font: 14pt Charcoal,sans-serif; }
h2 {	font: 13pt Charcoal,sans-serif; }
h3 { 	font: 12pt Charcoal,sans-serif; }
h4 {	font: 11t Charcoal,sans-serif; }

table {
	width: 100%;
	border: none;
}

tr, td {
	vertical-align: top;
}

.label {
	font-size: x-small;
	color: grey;
}

DIV#yield th {
	color: black; 
	padding: 0em;
	font: small Charcoal,sans-serif; 
	text-transform: capitalize;
}
DIV#yield td {
	color: black; 
	padding: 0em;
	font: 10pt Charcoal,sans-serif; 
	text-transform: none;
}

DIV.list {
	border: 1px dotted grey;
	padding: 1em;
	margin-bottom: 1em;

}
div.smallborder {
	border: 1px dotted grey;
}
div.padded {
	padding: 0.5em;
}
div.listhighlight {
	padding-left: 1em;
	padding-right: 1em;
	border: 1px dotted grey;
	background-color: lightyellow ! important;
}
span.smalldimtext {
	color: grey;
	font-size: x-small;
}

div.trace, span.trace {
	color: grey;
	display: none;  
}
TR.list TH {
	
	border-bottom: 1px dotted grey;
	font-size: x-small ! important;
	color: grey ! important;
}	

#yield {
	margin: 1em;

}
DIV#yield a:link, DIV#yield a:visited {
	color: blue; 
	padding: 0em;
	font: 10pt Charcoal,sans-serif; 
	text-transform: capitalize;
	font-weight: bold;
   text-decoration: underline;
}
DIV#yield a:link:hover, DIV#yield a:visited:hover {
   text-decoration: underline; 
   color: red;
}

.tableheader, th { font-size: x-small; }
.notice { background-color: white ! important; }
.error {	background-color: red  ! important;
			color: white ! important;
			font-weight: bold ! important;
			 }
.clearfloat { /* place on a div or break element, should be final element before close of container that should fully contain a float */
    clear: left;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


DIV.menu {
		font: 10pt Charcoal,sans-serif; 
	 text-transform: capitalize;
	 font-weight: bold;
    background-color: darkgrey ! important;
	 margin: 0px ! important;
    padding-top: 0.5em ! important;
  	 padding-bottom: 0.5em ! important; 
 
  	 border: none;
    font-family: "Georgia", "Arial","Verdana",Georgia,serif;
    text-decoration: none;
}

DIV.menu a:link:hover, DIV.menu a:visited:hover,
DIV.menu a:link:hover, DIV.menu a:visited:hover  {
	padding: 0.5em;
   text-decoration: underline ! important; 
   color: red ! important;
}

DIV.menu  a:link, DIV.menu  a:visited,
DIV.menu  a:link, DIV.menu  a:visited  {
	padding: 0.5em;
   text-decoration: none;
   color: blue;
}
	
SPAN.deadlink {
	color: grey ! important 
	background: white; 
	padding: 0.5em ! important;
	font: 10pt Charcoal,sans-serif ! important; 
	text-transform: capitalize ! important;
	font-weight: bold ! important;
}		  


