/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: black; 
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Georgia", "Arial","Verdana",Georgia,serif;
  font-size: 10pt 
}

* {  
  background: transparent !important;
}

h1, h2, h3, h4 {
	color: black; 
	background: white; 
	padding: 0;
	text-transform: capitalize;
}
h1 {	font: 18pt Charcoal,sans-serif; }
h2 {	font: 16pt Charcoal,sans-serif; }
h3 { 	font: 15pt Charcoal,sans-serif; }
h4 {	font: 14pt Charcoal,sans-serif; }


tr, td { 	border-bottom: 1px dotted grey ! important; }
th {
	background-color: grey;
	color: black; 
	padding: 0em;
	font: small Charcoal,sans-serif; 
	text-transform: capitalize;
}
td {
	color: black; 
	background: white; 
	padding: 0em;
	font: 10pt Charcoal,sans-serif; 
	text-transform: capitalize;
}

a:link, a:visited {
	color: blue; 
	background: white; 
	padding: 0.5em;
	font: 10pt Charcoal,sans-serif; 
	text-transform: capitalize;
	font-weight: bold;
   text-decoration: underline;
}
a:link:hover, a:visited:hover {
   text-decoration: underline; 
   color: red;
}

.tableheader, th {
	font-size: x-small; 

	
}

.notice {
	background-color: lightgrey ! important;

}

.error {
	background-color: yellow  ! important;
}


#yield {
	margin-left: 2em;
	margin-bottom: 1em;
}

.clearfloat { /* place on a div or break element, should be final element before close of container that should fully contain a float */
    clear: left;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


#top_menu, #bottom_menu {
	 background-color: darkgrey ! important;
	 margin: 0px ! important;
  	 padding-top: 10px ! important;
  	 padding-bottom: 10px ! important;
  	 border: none;
    font-family: "Georgia", "Arial","Verdana",Georgia,serif;
    text-decoration: none;
}
#top_menu { border-bottom: 1px solid grey ! important; }
#bottom_menu {  border-top: 1px solid grey ! important; }

#top_menu a:link:hover, #top_menu a:visited:hover,
#bottom_menu a:link:hover, #bottom_menu a:visited:hover  {
   text-decoration: underline ! important; 
   color: red ! important;
}
#top_menu  a:link, #top_menu  a:visited,
#bottom_menu  a:link, #bottom_menu  a:visited  {
   text-decoration: none;
}
	
.deadlink {
	color: black ! important 
	background: white; 
	padding: 0.5em ! important;
	font: 10pt Charcoal,sans-serif ! important; 
	text-transform: capitalize ! important;
	font-weight: bold ! important;
}		  


