	<% if Rails.env.development? %>	
			<div id="debug" ><%= debug(params) %></div>
			<% if @current_user.nil? == false %>
				<%= "admin " if @current_user.admin %> 			
            user <%= @current_user.id %>    				
				<%= @current_user.email %>
			<% end %> 	  
	<% end %>